:root {
  --padding-tiny: 0.3rem;
  --padding-small: 0.4rem;
  --padding-normal: 0.75rem;
  --padding-large: 1.5rem;

  --background-color: #1f171f;
  --background-danger-color: #2b0d0d;
  --border-color: #462746;
  --link-hover-color: #b869b8;
  --text-color: #d0d0d0;
  --text-muted-color: #848484;

  --navlink-size: 1.1rem;
  --title-size: 1.5rem;
  --border-radius: 0.5rem;
  
  --image-width: 400px;
  --image-height: 600px;
  --avatar-width: 64px;
  --page-width: 1280px;
  --subnav-height: 48px;
  --badge-height: 32px;
  --button-height: 32px;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

main {
  max-width: var(--page-width);
  margin: auto;
  padding: var(--padding-small);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

.navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--padding-large);
}

.navigation > .subnav {
  display: flex;
  gap: var(--padding-normal);
  background-color: var(--border-color);
  justify-content: center;
  line-height: var(--subnav-height);
}

.navigation > .subnav a {
  color: var(--text-color);
  padding: var(--padding-small);
  font-size: var(--navlink-size);
  text-decoration: none;
}

.navigation > .subnav a:hover {
  color: var(--link-hover-color);
}

.disclaimer {
  color: var(--text-muted-color);
  display: block;
  font-size: 1.2rem;
  margin: var(--padding-normal);
}

.artists > span {
  display: block;
  text-align: center;
}

.artists a {
  text-decoration: none;
  color: var(--link-hover-color);
}

.artist {
  padding: var(--padding-large) 0;
}

.artist__title {
  display: grid;
  grid-template-columns: var(--avatar-width) auto;
  line-height: var(--avatar-width);
  gap: var(--padding-normal);
  margin-bottom: var(--padding-normal);
}

.artist__title--column {
  display: grid;
  grid-template-rows: var(--avatar-width) auto;
  gap: var(--padding-normal);
  margin-bottom: var(--padding-normal);
  font-size: var(--title-size);
  text-align: center;
  width: fit-content;
}

.artist__title--column > .artist__avatar {
  margin: auto;
}

.artist__title > span {
  font-size: var(--title-size);
}

.artist__avatar {
  width: var(--avatar-width);
  height: var(--avatar-width);
  border-radius: 100%;
  border: 1px solid var(--border-color);
}

.artists__other {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  flex-wrap: wrap;
  gap: var(--padding-large);
}

.artist__gallery {
  display: flex;
  gap: var(--padding-normal);
  max-width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.artist__gallery__overlay {
  position: absolute;
  width: 250px;
  height: var(--image-height);
  font-size: 8rem;
  line-height: var(--image-height);
}

.artist__gallery__overlay > button {
  color: var(--text-color);
  background: 0;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  font-size: 8rem;
}

.artist__gallery__overlay--right {
  left: calc(100% - 250px);
  transform: translateY(calc(0px - var(--image-height)));
  background: linear-gradient(to right, #00000000, var(--background-color));
  text-align: right;
}

.artist__gallery__overlay--left {
  transform: translateY(calc(0px - var(--image-height)));
  background: linear-gradient(to right, var(--background-color), #00000000);
}

.overlay_container {
  position: relative;
  width: 100%;
}

.artist__gallery::-webkit-scrollbar {
  display: none;
}

.artist__gallery__media {
  max-height: var(--image-height);
}

.artist__gallery__media > img {
  display: flex;
  flex: 1 0 auto;
  width: auto;
  max-height: var(--image-height);
}

.artist__gallery__badge {
  position: relative;
  left: calc(50% - 32px - var(--padding-normal) / 2);
  bottom: calc(var(--image-height) + var(--padding-small));
  line-height: var(--badge-height);
  width: fit-content;
  background: var(--background-color);
  padding: 0 var(--padding-normal);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.hidden {
  display: none !important;
}

.nsfw_warning {
  display: flex;
  position: fixed;
  z-index: 9999;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  left: 0;
  bottom: 0;
  background: var(--background-danger-color);
  width: 100vw;
  height: 100vh;
}

.nsfw_warning__buttons {
  display: flex;
  align-self: center;
  gap: var(--padding-large);
}

.nsfw_warning__buttons > button {
  background: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.25rem;
  color: var(--text-color);
}

.nsfw_warning__buttons > button:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

.nsfw_warning__buttons > a {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--text-color);
}

.nsfw_warning__buttons > a:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

.catalogue__navigation {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  gap: var(--padding-normal);
  line-height: var(--button-height);
  margin-top: var(--padding-large);
}

.catalogue__navigation > a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0 var(--padding-normal);
  background: var(--border-color);
  border-radius: var(--border-radius);
}

.catalogue__navigation > a:hover {
  color: var(--link-hover-color);
}

.mobile_hint {
  width: fit-content;
  margin: auto;
  padding: var(--padding-normal) 0;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .catalogue__navigation {
    flex-direction: column;
  }

  .nsfw_warning {
    padding: var(--padding-normal);
    width: calc(100vw - var(--padding-normal) * 2);
    height: calc(100vh - var(--padding-normal) * 2);
  }

  .hidden--mobile {
    display: none !important;
  }
}

.landing > img {
  width: 100%;
  height: auto;
  object-position: 0 -14vh;
}
