:root {
  --padding-tiny: 0.3rem;
  --padding-small: 0.4rem;
  --padding-normal: 0.75rem;
  --padding-large: 1.5rem;

  --background-color: #1f171f;
  --text-color: #d0d0d0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
